@charset "UTF-8";




*{
    padding: 0px;
    margin: 0px;
}

@media (min-width: 500px){
    main{
        display: grid;
        grid-template-columns: 100%;
    }
}



a{
    color: white;
}

body{
    background-image: url(imagens/backgorundcat.png);
    background-position: center center;
    background-size: 200px;
    background-repeat: repeat;
}






main{
    background-color: rgba(51, 29, 29, 0.829);
    color: white;
    padding: 10px;
    
    max-width: 1000px;
    margin: auto;
}

h1{
    padding: 10px 0px;
}

h2{
    padding: 10px 0px;
}


p{
    text-indent: 15px;
    padding: 10px 0px;
    line-height: 1.5rem;
    text-align: justify;
}

header{
    display: grid;
    grid-template-columns: 50px 100%;
    grid-template-rows: 50px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.550), transparent);
    background-attachment: fixed;
    padding: 5px;
}




#menu{
    padding: 10px;
    border-radius: 10px 10px 0px 0px;

    transition-duration: 0.5s;
}

#menu:hover{
    background-color: rgba(0, 0, 0, 0.774);

    transition-duration: 0.5s;
}

div.nav{
    color: white;
    font-size: 2rem;
}

nav{
    display: grid;
    grid-template-rows: 50px 50px 50px;

    
    background-color: rgba(0, 0, 0, 0.774);
    position: absolute;
    
    transform: translate(0%, -8.2px);

    border-radius: 0px 0px 10px 10px;
    margin: auto;
    padding: 10px;
    font-size: 2rem;

    transition-duration: 0.5s;
}

nav:hover{
    background-color: rgba(0, 0, 0, 0.486);
    transition-duration: 0.5s;
}

nav a{
    text-align: center;
    color: white;
}

nav a:hover{
    color: black;
}


div.menu{
    width: 50px;
    height: 50px;
}

div.menu:hover{
    color: rgb(255, 255, 255);

}

div.menu nav{

}

div.nav > div.menu nav{
    display: none;
    width: 32px;    
}

div.nav:hover > div.menu nav{

    display: block;
    
}