@charset "UTF-8";




*{
    padding: 0px;
    margin: 0px;
}

@media (min-width: 500px){
    main{
        display: grid;
        grid-template-columns: 100%;
    }
}



a{
    color: white;
}

body{
    background-image: url(imagens/backgorundcat.png);
    background-position: center center;
    background-size: 200px;
    background-repeat: repeat;
}

div.principal




main{
    background-color: rgba(51, 29, 29, 0.829);
    color: white;
    padding: 10px;
    
    max-width: 1000px;
    margin: auto;
}

h1{
    padding: 10px 0px;
}

h2{
    padding: 10px 0px;
}


p{
    text-indent: 15px;
    padding: 10px 0px;
    line-height: 1.5rem;
    text-align: justify;
}


div.nav{
    background-color: rgba(42, 36, 75, 0.925);
    
    padding: 10px 0px 5px 0px;
}

nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav a{
    text-align: center;
    color: white;

    font-size: 1.3rem;
}